{
    "forwardFrom": [
        3588428,
        4385135
    ],
    "forwardTo": [
        {
            "id": 251625498,
            "topicId": 166
        },
        {
            "id": 48457
        }
    ]
}